.cell {
  width: var(--cellSize);
  height: var(--cellSize);
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3),
.cell:nth-child(4),
.cell:nth-child(5),
.cell:nth-child(6),
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-top: none;
}

.cell:nth-child(9n + 1) {
  border-left: none;
}

.cell:nth-child(9n + 9) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(80),
.cell:nth-child(79),
.cell:nth-child(78),
.cell:nth-child(77),
.cell:nth-child(76),
.cell:nth-child(75),
.cell:nth-child(74),
.cell:nth-child(73) {
  border-bottom: none;
}

.cell.x,
.cell.o {
  cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.o::before {
  background-color: var(--contentColor);
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before {
  background-color: var(--hoverColor);
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
  content: "";
  position: absolute;
  width: calc(var(--markSize) * 0.15);
  height: var(--markSize);
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after {
  transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before {
  width: var(--markSize);
  height: var(--markSize);
}

.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after {
  width: calc(var(--markSize) * 0.7);
  height: calc(var(--markSize) * 0.7);
  background-color: var(--backgroundColor);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.buttons button {
  background: var(--contentColor);
  border: 1px solid var(--contentColor);
  color: var(--backgroundColor);
  font-size: 12px;
  font-family: Architects Daughter, sans-serif;
  border-radius: 20px;
  text-align: center;
  padding: 4px 10px;
  margin-right: 4px;
}

.buttons button:last-child {
  margin-right: 0px;
}

.buttons button:hover,
.buttons button:focus,
.buttons button:active {
  background-color: rgb(31, 41, 55);
  border-color: rgb(31, 41, 55);
  color: var(--backgroundColor);
  outline: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  :root {
    --cellSize: 28px;
  }
}

.winning-message {
  background-color: var(--winningMessageColor);
  color: var(--contentColor);
}

.winning-message button {
  font-size: 12px;
  font-family: Architects Daughter;
  background-color: var(--contentColor);
  color: var(--backgroundColor);
  border: 1px solid var(--contentColor);
  border-radius: 20px;
  padding: 0.65em;
  cursor: pointer;
  margin-top: 10px;
}

.winning-message button:hover {
  background-color: rgb(31, 41, 55);
  border-color: rgb(31, 41, 55);
  color: var(--backgroundColor);
}

.hero{
  background-image: url('../public/bg.jpg');
}