  :root{
      --cellSize: 36px;
      --markSize: calc(var(--cellSize) * .9);
      --backgroundColor: #f3f4f6;
      --winningMessageColor: rgba(221, 239, 235, .9);
      --contentColor: #111827;
      --hoverColor: rgb(107, 114, 148);
  }